<div class = main-containment>
    <div id = "webname">
        <a (click)="OnClickWebname()"><h1 id = "webname-text">WEBLOG</h1></a>
        <h2 id = "webname-desc">A blog a day keeps the mind sane</h2>
    </div>
    <div id = "page-bar">
        <button (click)="OnClickHome()" class="bar-btn" id = "home-btn">Home</button>
        <button (click)="OnClickPosts()" class="bar-btn" id = "posts-btn">Posts</button>
        <button (click)="OnClickAboutus()" class="bar-btn" id = "aboutus-btn">About Us</button>
        <button (click)="OnClickContact()" class="bar-btn" id = "contact-btn">Contact</button>
    </div>
    <div id = "page-content">

    </div>
  </div>