.main-containment {
    background-image: url(../pictures/background-main.jpg);
    width: 105%;
    height: 480px;
    margin-left: -0.55%;
    margin-top: -1.5%;
}
#webname {
    color: white;
    margin: 0;
    padding-top: 3%;
    padding-left: 5%;
}
#webname-text {
    font-size: 60px;
    margin: 0;
}
#webname-text:hover {
    cursor:pointer;
}
#webname-desc {
    margin: 0;
    padding-bottom: 10px;
}

#page-bar{
    background-color: black;
    width: 100%;
}
.bar-btn {
    display: inline;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: black;
    color: white;
    height: 70px;
    width: 100px;
    font-size: 20px;
}
.bar-btn:hover {
    color: orange;
}
#home-btn {
    margin-left: 3%;
}

#content-background {
    width: 100%;
    height: 100%;
    background-color: black;
}
#content-window {
    width: 90%;
    height: 95%;
    background-color: white;
    margin-left: 2.8%;
}
#opening-text {
    margin: 0;
    text-align: center;
    font-size: 100px;
}
#paragraph {
    text-align: center;
    font-size: 30px;
}
.btn {
    display: inline;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: black;
    color: white;
    height: 70px;
    width: 100px;
    font-size: 20px;
}
.btn:hover {
    color: orange;
}
#login-btn {
    margin-left: 41%;
}
#signup-btn {
    margin-left: 1%;
}